/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: #000028;
  background-image: var(--bg-color);
  min-inline-size: 375px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decor_item::before {
  content: "";
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 5px 3px;
  left: 43px;
  top: 6px;
}

.decor_item {
  color: var(--accent-color);
  position: absolute;
  top: 11px;
  right: 39px;
  font-size: 18px;
  display: block;
}

.decorated-zone::before {
  border-bottom: 1px solid var(--text-color-accent);
  border-left: 1px solid var(--text-color-accent);
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  content: "";
}

.decorated-zone::after {
  border-top: 1px solid var(--text-color-accent);
  border-right: 1px solid var(--text-color-accent);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  content: "";
}

.decorated-zone {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.header {
  padding: 10px;
  position: relative;
  width: 100%;
  height: max(100vh, 668px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-family: var(--main-font), sans-serif;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-right: 7px;
}

.header__theme-menu-list {
  display: grid;
  gap: 0.6em;
}

.header__theme-menu-button {
  color: var(--text-color-accent);
  font-size: 18px;
  text-transform: lowercase;
  background: none;
  border: none;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color-accent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--text-color-accent);
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 84%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--color-text-black);
  font-size: var(--base-font-size);
  font-weight: 700;
  align-self: center;
}

.content {
  padding-top: 40px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  
}

.section_title {
  font-size: var(--base-font-size);
  color: var(--text-color-accent);
}

.card {
  padding-top: 20px;
  display: grid;
  gap: 20px;
  line-height: 130%;
}
.card_content {
  gap: 11px;
  display: grid;
}

.section_card {
  display: grid;
}

.card_block {
  gap: 10px;
}

.card_text {
  color: var(--text-color);
}

.card-text_rules {
  gap: 10px;
}

.global {
  text-shadow: 4px 1px 0 var(--accent-color);
  text-decoration: none;
}

.global:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -2px;
}

.global:hover {
  border-bottom: 1px solid var(--text-color);
}

.title_min {
  background-color: var(--accent-color);
  color: var(--color-text-black);
  font-weight: 400;
  margin-top: 10px;
  align-self: center;
}

.footer {
  position: relative;
  height: max(100vh, 668px);
  display: grid;
  align-content: center;
  padding: 10px;
  width: 100%;
  margin-block-start: 40px;

}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 84%;
  text-align: center;
  padding-block-start: 5px;
}

.images-card {
  display: grid;
  gap: 10px;
  padding-block-start: 10px;
  grid-template-columns: 1fr;
}

.images {
  width: 100%;
}

@media (min-width: 768px) {
  .title-decor-header {
      width: 50%;
      justify-self: end;
  }

  .header {
      height: max(100vh, 1024px);
      padding: 20px;
  }

  .decorated-zone::before {
      bottom: 20px;
      left: 20px;
  }

  .decorated-zone::after {
      top: 20px;
      right: 20px;
  }

  .decor_item {
      top: 21px;
      right: 49px;
  }

  .header-title {
      margin-inline-start: -20px;
  }

  .section-type_default {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 20px;
      grid-template-rows: auto-fill;
      
  }

  .card_dofamin {
      grid-column-start: 2;
  }

  .section {
      padding: 0px 20px;
      margin-bottom: 0px;
  }

  .content_section-title {
      max-width: 236px;
      padding-top: 20px;
  }

  .section_title {
      max-width: 236px;
  }

  .content {
      display: grid;
      gap: 80px;
  }

  .card-text_rules {
      padding-block-start: 0.5%;
  }

  .images-card {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.1em;
      margin-block-start: 0.5em;
  }

  .images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
      grid-column: span 2;
      
  }

  .ice-cream {
      grid-row: span 2;
      
  }

  .tape {
      grid-row: 2 / span 2;
     
  }

  .street {
      grid-column: 2 / span 2;
      
  }

  .footer {
      height: max(100vh, 1024px);
      margin-block-start: 57px;
      padding: 20px;
  }

}

@media (min-width: 1024px) {
  .header {
      height: max(100vh, 768px);
  }

  .header__theme-menu {
      align-self: start;
      justify-self: center;
  }

  .header__theme-menu-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      margin-inline-start: 5px;
  }

  .header-title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      align-self: center;
      
  }

  .section-type_default {
      column-gap: 10px;
  }

  .section_title {
      min-width: 310px;
  }

  .section_card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .title-decor_card {
      min-width: 315px;
  }

  .card_block {
      display: block;
  }

  .card-text_block {
      padding-block-start: 10px;
  }

  .footer-title {
      font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
      padding-block-end: 3%;
  }

  .footer {
      height: max(100vh, 768px);
  }
}


  
